.container {
  overflow: hidden;
  position: relative;
}

.children > div {
  float: left;
  margin-right: 20px;
  width: 400px;
}

.children {
  transition: transform ease-in-out 0.3s;
}

.arrow {
  position: absolute;
  top: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 2;
  font-weight: bold;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: royalblue;
}

.leftArrow {
  left: 0px;
}

.rightArrow {
  right: 0px;
}
